name: Build and Test
on:
  push:
  schedule:
    - cron: 0 0 * * *
jobs:
  Unix-like:
    runs-on: ${{ matrix.system }}
    timeout-minutes: 360
    env:
      CXX: ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        compiler: [ g++, clang++ ]
        configuration: [ Debug, Release ]
        system: [ ubuntu-22.04, ubuntu-24.04, macos-14, macos-15 ]
    steps:
      - uses: actions/checkout@v3
      - run: ./script/setup-${{ matrix.system }}.sh --all
      - run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.configuration }}
      - run: cmake --build build --target continuous-integration
      - run: cmake -B example/build -S example -DCMAKE_BUILD_TYPE=${{ matrix.configuration }}
      - run: cmake --build example/build --target continuous-integration
