name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: build
      run: |
        sudo apt install libboost-all-dev libgmp-dev libmpfr-dev
        mkdir -p build
        cd build
        cmake ..
        make
