name: ShellCheck
on:
  push:
jobs:
  Unix-like:
    runs-on: ${{ matrix.system }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        system: [ ubuntu-22.04, ubuntu-24.04, macos-14, macos-15 ]
    steps:
      - uses: actions/checkout@v3
      - run: ./script/setup-${{ matrix.system }}.sh --all
      - run: shellcheck ./script/*
